$primary: #2d87e2;
$light-primary: #73aeea;
$success: #47e69a;
$danger: #e75454;
$gray: #636363;

html {
  --main-bg: #f2f7fc;

  --gray: #636363;
  --green: #47e69a;
  --red: #e75454;
  --blue: #2d87e2;
}
